# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ---------------------------------------------------------------------
# DO NOT CHANGE THIS SECTION

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence.
* @daveordead @rairaman

# ---------------------------------------------------------------------
# Add specific owners here…
