# http://editorconfig.org

# ---------------------------------------------------------------------
# DO NOT CHANGE THIS SECTION

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# ---------------------------------------------------------------------
# Add specific rules here… (Note: What you add can have an effect on Prettier)
