<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>KindeAuth</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="nav container">
            <h1 class="text-display-4">KindeAuth with Spring Boot</h1>
            <div class="profile-blob">
                <div>
                    <p class="text-heading-2" th:text="${kindeUser.fullName}"></p>
                    <a class="text-subtle" href="/logout">Sign out</a>
                </div>
            </div>
        </nav>
    </header>

    <main class="content">
        <div class="container">
            <div class="card start-hero">
                <p class="text-body-2 start-hero-intro">Woohoo!</p>
                <p class="text-display-2">
                    Your authentication is all sorted.
                    <br/>
                    Build the important stuff.
                </p>
            </div>
            <div class="horizontal-sections">
                <section class="next-steps-section">
                    <h2 class="text-display-4">ID Token:</h2>
                    <br/>
                    <p class="text-heading-2 token-text">
                        <span th:text="${kindeUser.idToken.substring(0, 20)} + '...'"></span>
                        <a href="#" class="text-display-5" onclick="openTokenPopup('idTokenPopup')">[View]</a>
                    </p>
                    <br/>
                    <a class="btn btn-light btn-small"
                       th:href="'https://jwt.io/#debugger-io?token=' + ${kindeUser.idToken}"
                       target="_blank">
                        Parse token on JWT.io
                    </a>
                </section>

                <section class="next-steps-section">
                    <h2 class="text-display-4">Access Token:</h2>
                    <br/>
                    <p class="text-heading-2 token-text">
                        <span th:text="${kindeUser.accessToken.substring(0, 20)} + '...'"></span>
                        <a href="#" class="text-display-5" onclick="openTokenPopup('accessTokenPopup')">[View]</a>
                    </p>
                    <br/>
                    <a class="btn btn-light btn-small"
                       th:href="'https://jwt.io/#debugger-io?token=' + ${kindeUser.accessToken}"
                       target="_blank">
                        Parse token on JWT.io
                    </a>
                </section>

                <section class="next-steps-section">
                    <h2 class="text-display-4">Kinde User Profile:</h2>
                    <br/>
                    <p class="text-heading-2 token-text">
                        <span th:text="${kindeUser.userProfile.substring(0, 20)} + '...'"></span>
                        <a href="#" class="text-display-5" data-popup="userprofile" onclick="openPopup(this)">[View]</a>
                    </p>
                    <br/>
                </section>

                <section class="next-steps-section role-buttons-section">
                    <h2 class="text-display-4">Kinde User Roles:</h2>
                    <br/>
                    <ul class="role-buttons">
                        <li th:each="role : ${kindeUser.roles}">
                            <a class="btn btn-light btn-small fixed-size-button"
                               th:href="@{'/' + ${#strings.substringAfter(role, 'ROLE_')} }">
                                <span th:text="'Do I have ' + ${#strings.substringAfter(role, 'ROLE_')} + ' access?'">Do I have access?</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-light btn-small fixed-size-button" href="/write">
                                Do I have write access?
                            </a>
                        </li>
                    </ul>
                </section>
            </div>

            <!-- Popup container -->
            <div id="accessTokenPopup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closeTokenPopup('accessTokenPopup')">&times;</span>
                    <p th:text="${kindeUser.accessToken}"></p>
                </div>
            </div>

            <!-- Popup container -->
            <div id="idTokenPopup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closeTokenPopup('idTokenPopup')">&times;</span>
                    <p th:text="${kindeUser.idToken}"></p>
                </div>
            </div>

            <!-- Script tag to store JSON -->
            <script id="userProfileJson" type="application/json" th:text="${kindeUser.userProfile}"></script>

            <!-- Popup container -->
            <div id="userProfilePopup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <pre id="popupText"></pre>
                </div>
            </div>

        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <strong class="text-heading-2">KindeAuth</strong>
            <p class="footer-tagline text-body-3">
                Browse Kinde
                <a class="link" target="_blank" href="https://kinde.com/docs">docs</a>
            </p>

            <small class="text-subtle">© 2024 KindeAuth, Inc. All rights reserved</small>
        </div>
    </footer>
</div>

<script>
    function openTokenPopup(id) {
        document.getElementById(id).style.display = "block";
    }

    function closeTokenPopup(id) {
        document.getElementById(id).style.display = "none";
    }

    function openPopup(element) {
        var popupType = element.getAttribute('data-popup');
        var popup = document.getElementById("userProfilePopup");
        var popupText = document.getElementById("popupText");

        var content;
        if (popupType === 'token') {
            content = document.getElementById("fullToken").innerText;
            content = fullToken ? fullToken.textContent : "Error: Token not found.";
        } else if (popupType === 'userprofile') {
            // Fetch JSON data from the script tag and format it
            var userProfileJson = document.getElementById("userProfileJson").textContent;

            // Decode HTML entities
            var parser = new DOMParser();
            var doc = parser.parseFromString(userProfileJson, 'text/html');
            var decodedJson = doc.documentElement.textContent;
            try {
                var userProfile = JSON.parse(decodedJson);
                content = JSON.stringify(userProfile, null, 2); // Format JSON with indentation
            } catch (e) {
                console.error("Error parsing user profile data:", e);
                content = "Error parsing user profile data.";
            }
        }

        popupText.textContent = content; // Display the content in the popup
        userProfilePopup.style.display = "block";
    }

    function closePopup() {
        var popup = document.getElementById("userProfilePopup");
        popup.style.display = "none";
    }

    // Optional: Close the popup if the user clicks anywhere outside of it
    window.onclick = function(event) {
        var tokenPopup = document.getElementById("tokenPopup");
        var userProfilePopup = document.getElementById("userProfilePopup");
        if (event.target == tokenPopup) {
            tokenPopup.style.display = "none";
        }
        if (event.target == userProfilePopup) {
            userProfilePopup.style.display = "none";
        }
    }
</script>

</body>
</html>